@subhashshell2:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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